db.createUser({
	user: '!! replace by value of .env.MONGO_USERNAME',
	pwd: '!! replace by value of .env.MONGO_PASSWORD',
	roles: [
		// {role: 'readWrite', db: 'joombo'}
		'userAdminAnyDatabase',
		'readWriteAnyDatabase'
	]
});
