module.exports = [
  {
    name: 'company 1',
    id: 'company-1',
    database: 'company_1',
    sources: [
      {
        name: 'shopify',
        database: 'company_1',
        collection: undefined,
        store: 'company-1',
        privateApp: {
          key: 'aaa',
          password: 'bbb'
        }
      },
      {
        name: 'googleAnalytics',
        database: 'company_1',
        collection: undefined,
        viewId: 123456789,
      },
      /* {
        name: 'googleAdwords'
      },
      {
        name: 'facebook'
      } */
    ]
  }
];
